p
{
background-color:#ffb380;
text-indent:2cm;


}


.cls
{
font-style:italic;
font-family:sans-serif;
font-size:19px;
font-weight:100;
word-spacing:5px;
text-decoration:underline;
text-transform:capitalize;

}



h1
{
letter-spacing:5px;

}
h2
{
text-shadow:8px 8px 10px blue;
}
body
{
background-image: url("file:///home/6CSE3/Desktop/0144/p22.jpeg");

background-attachment:scroll;
}
img
{
width:500;
}

